/*stylesheet for flexbox practice*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container{
    color: #fff;
    background-color: #5995DA; /*blue*/
    padding: 20px 0; 
    display: flex; /*enables FlexBox*/
    justify-content: center; /*justifies items in container*/
}

.menu{
    border: 1px solid #fff; /*for debugging*/
    width: 900px;
    display:flex;
    justify-content: space-between;
}

.links{
    border: 1px solid #fff; /*for debugging*/
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-left: 20px;
}

.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social, .logo, .subscribe {
   /* border: 1px solid #5995DA; */
}

.photo-grid-container{
    display:flex;
    justify-content: center;
}

.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*wraps photos to contain within the 900px width & avoid overflows*/
    flex-direction: column; /*aligns grid on vertical axis vs. horizontal axis*/
    align-items: center; /*aligns the images in the center of the horizontal axis. The justify-content command justifies content to the center of the box, but
    the flex-direction command rotates the box -- so to get alignment correct you must tell CSS what to do. */
    
}

.photo-grid-item{
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}