/*stylesheet for flexbox practice*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container{
    color: #fff;
    background-color: #5995DA; /*blue*/
    padding: 20px 0;
    display: flex; /*enables FlexBox*/
    justify-content: center; /*justifies items in container*/
}

.menu{
    border: 1px solid #fff; /*for debugging*/
    width: 900px;
    display:flex;
    justify-content: space-between;
}

.links{
    border: 1px solid #fff; /*for debugging*/
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-left: 20px;
}

